*{
  padding:0px;
  margin:0px;
}
@font-face {
  font-family:comfortaBold;
  src:url(../fonts/Comfortaa-Bold.ttf);
}
@font-face {
  font-family:VarelaRound;
  src:url(../fonts/VarelaRound-Regular.ttf);
}
@font-face {
  font-family:Lato;
  src:url(../fonts/Lato-Black.ttf);
}
#tf-home{
  background:url(../images/Homepage%20Banner%20Image.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 2% 0%;
}
.pad_left{
  padding-left: 0px;
}
.navbar-default{
  background-color: rgba(103, 91, 67,.4);
  border-color:rgba(128, 128, 128, .6);
  height: auto;
  background-attachment: fixed;
  color:#fff;
  padding:1% 0%;
}
.navbar-default .navbar-brand {
  font-family: Lato;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1.2px;
  color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
}

.Rectangle1_mobile {
  border-radius: 2px;
  background-color: #0d1b40;
}
.container1_mobile{
  padding: 136% 0% 0% 0%;
}

.the_rate_deserve_mobile {
  font-family: Lato;
  font-size: 45px;
  font-weight: 900;
  line-height: 1.22;
  letter-spacing: 6px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 12% 0% 0% 10%;
}
.Merit-based-Student_mobile {
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  color: #ffffff;
  padding: 10% 24% 0% 10%;
}
.Rectangle1 {
  border-radius: 2px;
  background-color: #0d1b40;
}
.container1{
  padding:10% 0% 5% 0%;;
}

.the_rate_deserve {
  font-family: Lato;
  font-size: 45px;
  font-weight: 900;
  line-height: 1.22;
  letter-spacing: 6px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 12% 0% 0% 10%;
}
.Merit-based-Student {
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  color: #ffffff;
  padding: 10% 24% 0% 10%;
}
.BORROW-BETTER {
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.BORROW-BETTER_mobile {
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.btn_default_mobile {
  border-radius: 2px;
  border: solid 1px #ffffff;
  background-color:#0d1b40;
  margin: 10% 0% 10% 8%;
  padding: 4% 15%;
}
.who_we_are {
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
}
.Were-just-like-you {
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #ffffff;
}
.Rectangle4 {
  background-color: #0d1b40;
  padding:2% 0%;
}
.container2{
  padding:0% 5%;
}
.tf-mobile{
  background:url(../images/pattern.png) repeat;
  padding:2% 1%;
}
.Save-300-a-month{
  font-family: Lato;
  font-size: 45px;
  font-weight: 900;
  color: #0d1b40;
  padding: 34px 0px 22px 76px;
}
.layer {
  width: 18px;
  height: 42px;
  font-family: FredokaOne;
  font-size: 35px;
  color: #5c6263;
}
h4{
  font-family: VarelaRound;
  color: #0d1b40;
  padding: 4px 0px 2px 76px;
}
.Data-Driven-Technolo {
  font-family: VarelaRound;
  font-size: 13px;
  letter-spacing: 1.4px;
  color: #4a4a4a;
  margin: 25% 37% 0% -30%;
}

.Data-Driven-Technolo .text-style-1 {
  font-size: 16px;
  letter-spacing: 1.8px;
  color: #0d1b40;
}
.calculatorqui {
  font-family: VarelaRound;
  font-size: 13px;
  letter-spacing: 1.4px;
  color: #4a4a4a;
  color: var(--greyish-brown);
  /* position: absolute; */
  /* top: 38%; */
  /* left: 61%; */
  /* margin: -1% 0% 0% 0%; */
  margin: 72% 28% 0% -40%;
}
.calculatorqui .text-style-1 {
  font-size: 16px;
  letter-spacing: 1.8px;
  color: #0d1b40;
  color: var(--dark-indigo);
}
.comparerates {
  font-family: VarelaRound;
  font-size: 13px;
  letter-spacing: 1.4px;
  color: #4a4a4a;
  color: var(--greyish-brown);
  /* position: absolute; */
  /* top: 69%; */
  /* left: 61%; */
  margin: 77% 34% 0% -43%;
}

.comparerates .text-style-1 {
  font-size: 16px;
  letter-spacing: 1.8px;
  color: #0d1b40;
  color: var(--dark-indigo);
}
.mobile_para{
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  color: #4a4a4a;
  padding: 4px 43px 2px 76px;
}
.line3 {
  width: 73.2px;
  height: 2px;
  color:#0f1d42;
  /* position: absolute; */
  /* top: 69%; */
  /* left: 50%; */
  font-weight: bold;
  margin: 2% 0% 0% -44%;
}
.line2 {
  width: 73px;
  height: 2px;
  color:#0f1d42;
  /* position: absolute; */
  /* top: 38%; */
  /* left: 50%; */
  /* font-weight: bold; */
  margin: 41% 0% 0% -40%;
  font-weight: bold;
}
.line1 {
  /* position: absolute; */
  /* top: 10%; */
  /* left: 19%; */
  padding: 28% 10% 0% 34%;
  }

.Rectangle3_copy {
  padding: 5% 32%;
  border-radius: 2px;
  background-color: #0d1b40;
  margin: 13% 0%;
}
.CALCULATE-MY-RATE {
  width: 174px;
  height: 20px;
  font-family: VarelaRound;
  font-size: 16px;
  color: #ffffff;
}
.Whats-your-financia {
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #0d1b40;
  margin: 31% 0%;
}
#Financialneed{
  background:#ffffff;
  padding: 4% 3%;
}
.Rectangle1{
  position:relative;
  margin: -15% 0% 0% 1%;
  }
.Rectangle_box1 {
  width: 146.4px;
  height: 146.4px;
  background-color: #0d1b40;
  border: solid 1px #979797;
  position:absolute;
  top: 32px;
  left: 110px;
  z-index:99;
}
.REFINANCE-LOAN {
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}
.img_margin{
  padding: 9px 0px 10px 44px;
}
.Rectangle_box1_1 {
  width: 234.3px;
  height: 322.2px;
  background-color: #ffffff;
  border: solid 1px #979797;
  margin: 31% 2% 3% 15%;
}
.Save-30000-on-Aver {
  width: 246.2px;
  height: 101px;
  font-family: VarelaRound;
  font-size: 16px;
  letter-spacing: 1.1px;
  text-align: center;
  color: #0d1b40;
  margin: 37% 0% 0% 0%;
  padding: 2% 17%;
}
.Save-30000-on-Aver .text-style-2 {
  font-family: Lato;
  font-weight: 900;
  letter-spacing: 1px;
}
.rectangle_box1_2 {
  border-radius: 2.4px;
  border: solid 1.2px #0d1a40;
  padding: 6% 26% 2% 26%;
  margin: 19% 3% 0% 7%;
  background: #ffffff;
}
.getrate {
  font-family: VarelaRound;
  font-size: 16px;
  color: #0d1a40;
}
.howworks {
  background-color: #0d1b40;
  border: solid 1px #979797;
  padding: 5% 1%;
}
.howitworks {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffffff;
  text-align: center;
}
.no1 {
  font-family: Lato;
  font-size: 25.8px;
  font-weight: 900;
  color: #9b9b9b;
  margin: 2% 0% 0% 2%;
}
.no1_mobile {
  font-family: Lato;
  font-size: 20px;
  font-weight: 900;
  color: #9b9b9b;
  margin: 3% 0% 0% -16%;
  text-align: center;
}
.gradient_box {
  width: 935px;
  height: 15px;
  border-radius: 100px;
  background-image: linear-gradient(to left, #0d1b40, #4293d6 51%, #53c7fd);
  margin: 1% 2% 0% 9%;
}
.img1{
  z-index: 99;
  position: absolute;
  top: 12%;
  left: 5%;
}
.img1_mobile{
  z-index: 99;
  position: relative;
  top: 12%;
  left: 44%;
}
.getrate1_mobile{
  font-family: VarelaRound;
  font-size: 18px;
  color: #ffffff;
  padding: 7% 0% 0% 3%;
  text-align:center;
}
.quickloan-c_mobile {
  width: 210px;
  height: 78px;
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #ffffff;
  padding: 1% 0% 3% 0%;
  margin: 1% auto 3% auto;
}
.getrate1{
  font-family: VarelaRound;
  font-size: 18px;
  color: #ffffff;
  padding: 7% 0% 0% 3%;

}
.quickloan-c {
  width: 210px;
  height: 78px;
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #ffffff;
  padding: 1% 0% 3% 0%;
}
.no2{
  font-family: Lato;
  font-size: 25px;
  font-weight: 900;
  color: #9b9b9b;
  position: absolute;
  top: 7%;
  left: 30%;
}
.img2{
  z-index: 99;
  position: absolute;
  top: 12%;
  left: 31%;
}
.fillyourdetails {
  font-family: VarelaRound;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  top: 61%;
  left: 28%;
}
.filloureasy {
  width: 210px;
  height: 78px;
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 70%;
  left: 26%;
  padding: 1% 0% 3% 0%;
}
.no2_mobile{
  font-family: Lato;
  font-size: 20px;
  font-weight: 900;
  color: #9b9b9b;
  margin: 3% 0% 0% -16%;
  text-align: center;
}
.img2_mobile{
  z-index: 99;
  position: relative;
  top: 12%;
  left: 44%;
}
.fillyourdetails_mobile {
  font-family: VarelaRound;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 5% 0% 2% 0%;
}
.filloureasy_mobile {
  width: 210px;
  height: 78px;
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #ffffff;
  margin: 1% auto 3% auto;
}
.no3 {
  font-family: Lato;
  font-size: 25.8px;
  font-weight: 900;
  color: #9b9b9b;
  position: absolute;
  top: 7%;
  left: 56%;
}
.img3{
  z-index: 99;
  position: absolute;
  top: 12%;
  left: 57%;
}
.well_analyze {
  font-family: VarelaRound;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 49%;
}
.Well_carefully {
  width: 210px;
  height: 78px;
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 70%;
  left: 52%;
  padding: 1% 0% 3% 0%;
}
.no3_mobile {
  font-family: Lato;
  font-size: 20px;
  font-weight: 900;
  color: #9b9b9b;
  margin: 3% 0% 0% -16%;
  text-align: center;
}
.img3_mobile{
  z-index: 99;
  position: relative;
  top: 12%;
  left: 44%;
}
.well_analyze_mobile {
  font-family: VarelaRound;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 5% 0% 2% 0%;
}
.Well_carefully_mobile {
  width: 210px;
  height: 78px;
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #ffffff;
  margin: 1% auto 3% auto;
}
.no4 {
  font-family: Lato;
  font-size: 25px;
  font-weight: 900;
  color: #9b9b9b;
  position: absolute;
  top: 7%;
  left: 83%;
}
.img4{
  z-index: 99;
  position: absolute;
  top: 12%;
  left: 84%;
}
.your_money {
  font-family: VarelaRound;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 82%;
}
.Well_get_back {
  width: 210px;
  height: 104px;
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 70%;
  left: 80%;
  padding: 1% 0% 3% 0%;
}
.no4_mobile {
  font-family: Lato;
  font-size: 20px;
  font-weight: 900;
  color: #9b9b9b;
  margin: 3% 0% 0% -16%;
  text-align: center;
}
.img4_mobile{
  z-index: 99;
  position: relative;
  top: 12%;
  left: 44%;
}
.your_money_mobile {
  font-family: VarelaRound;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 5% 0% 2% 0%;
}
.Well_get_back_mobile {
  width: 210px;
  height: 104px;
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #ffffff;
  margin: 1% auto 3% auto;
}
.rectangle_3_2{
  padding: 4% 38%;
  border-radius: 2px;
  border: solid 1px #ffffff;
  background-color: #0d1b40;
  margin: 22% 0% 10% 0%;
}
.rectangle_3_2_mobile{
  padding: 4% 20%;
  border-radius: 2px;
  border: solid 1px #ffffff;
  background-color: #0d1b40;
  margin: 22% 0% 10% 6%;
}
.getstart{
  font-family: VarelaRound;
  font-size: 16px;
  color: #ffffff;
}
.expatloan{
  background-color: #ffffff;
  padding: 2% 1%;
}
.sharada{
  padding: 8% 1% 2% 15%;
}
.wearetransform {
  font-family: Lato;
  font-size: 45px;
  font-weight: bold;
  font-style: italic;
  color: #0d1b40;
  padding: 4% 2% 0% 0%;
}
.botpara1{
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  color: #4a4a4a;
  padding: 2% 9% 0% 0%;
  margin: 0px;
}
.botpara2{
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  color: #4a4a4a;
  padding: 0% 9% 0% 0%;
}
.shradhafounder {
  font-family: Lato;
  font-size: 24px;
  color: #4a4a4a;
  padding: 3% 0% 0% 0%;
}
.footer{
  background-color: #4a4a4a;
  border: solid 1px #979797;
  padding: 2% 1%;
}
.foot_txt{
  font-family: VarelaRound;
  font-size: 16px;
  color: #9b9b9b;
}
.table>tbody>tr>td{
    border-top: none;
}
.table-responsive {
    border: none;
}
.cont_foot{
  padding:5%;
}
.col-xs-12,.col-sm-12{
  padding:0;
}
.btn_default {
  border-radius: 2px;
  border: solid 1px #ffffff;
  background-color:#0d1b40;
  margin: 10%;
  padding: 4% 24%;
}

@media (min-width: 320px) and (max-width: 480px) {
  
#tf-home{
  background:url(../images/Home_mobile.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 2% 0% 0% 0%;
}
.btn-default{
  padding:2% 7%;
}
.img1{
  z-index: 99;
  position: relative;
  top:12%;
  left: 44%;
}
.no1 {
  margin: 3% 0% 0% -16%;
  text-align: center;
}
.getrate1{
  text-align:center;
}
.quickloan-c {
  font-family: VarelaRound;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #ffffff;
  margin: 1% auto 3% auto;
}
.rectangle_3_2{
  padding: 4% 29%;
  border-radius: 2px;
  border: solid 1px #ffffff;
  background-color: #0d1b40;
  margin: 22% 0% 10% 4%;
}

.btn_default {
  border-radius: 2px;
  border: solid 1px #ffffff;
  background-color:#0d1b40;
  margin: 10%;
  padding: 4% 7%;
}
.the_rate_deserve {
  font-family: Lato;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.22;
  letter-spacing: 6px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 12% 0% 0% 10%;
}
.who_we_are {
  margin: 6% 3%;
}
.Save-300-a-month {
    font-family: Lato;
    font-size: 29px;
    font-weight: 900;
    color: #0d1b40;
    padding: 34px 0px 22px 10px;
}
h4{
  font-family: VarelaRound;
  color: #0d1b40;
  padding: 4px 0px 2px 10px;
  font-size: 17px;
}
.mobile_para{
  font-family: VarelaRound;
  font-size: 12px;
  line-height: 1.63;
  color: #4a4a4a;
  padding: 4px 43px 2px 10px;
}
.Rectangle3_copy {
    padding: 13% 37%;
    border-radius: 2px;
    background-color: #0d1b40;
    margin: 13% -50%;
}
.Rectangle_box1_1 {
    width: 234.3px;
    height: 322.2px;
    background-color: #ffffff;
    border: solid 1px #979797;
    margin: 43% 2% 3% 15%;
}
.Rectangle_box1 {
    width: 146px;
    height: 146px;
    background-color: #0d1b40;
    border: solid 1px #979797;
    position: absolute;
    top: 32px;
    left: 92px;
    z-index: 99;
}
.wearetransform {
    font-family: Lato;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: #0d1b40;
    padding: 15% 2% 10% 3%;
    text-shadow: 0 0 black;
    text-align: right;
}
.botpara1 {
    font-family: VarelaRound;
    font-size: 13px;
    line-height: 1.63;
    color: #4a4a4a;
    padding: 2% 9% 0% 7%;
    margin: 0px;
}
.botpara2 {
    font-family: VarelaRound;
    font-size: 13px;
    line-height: 1.63;
    color: #4a4a4a;
    padding: 0% 9% 0% 6%;
}
.shradhafounder {
    font-family: Lato;
    font-size: 18px;
    color: #4a4a4a;
    padding: 4% 0% 0% 0%;
    text-align: center;
}
.foot_txt {
    font-family: VarelaRound;
    font-size: 12px;
    color: #9b9b9b;
}
.col-md-6{
    min-height: 1px;
    padding: 0px;
    position: relative;
}
}